* {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: bold;
}

.bg-navy {
  background-color: #6082b6;
}

small {
  font-size: 0.8rem;
}
